@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes scrolls {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.animate-marquee {
    animation: scroll 10s linear infinite;
}

.animate-marquee2 {
    animation: scrolls 10s linear infinite;
}


  @media (min-width: 940px) and (max-width: 1410px) {
    .design-grid{
        grid-template-columns: 1fr 1fr !important;
    }
  }
  