@import url("./fontconfig.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap' crossorigin="anonymous");


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Biryani', sans-serif;
}


.phone-input input {
  padding: 10px;
  font-size: 16px;
  background: #f3f4f6;
}

.phone-input input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.separator-line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.PhoneInputCountry{
  /* padding: 40px; */
  /* background-color: rgb(246, 211, 211); */
  flex: 0 0 20%;
  padding: 0 20px;
  margin-right: 0;
}


@media screen and (width <= 800px) {
  body {
    font-family: 'Archivo', sans-serif; /* Use Archivo font for mobile view */
  }
  
  .dashboard-navbar{
    display: none;
  }
  .phone-input input {
    width: 80%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}



/* Custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar */
  border-radius: 10px; /* Roundness of the scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color on hover */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px; /* Roundness of the scrollbar track */
}